In [1]:
#project 1
names = ("Samantha", "Jada","Jane","Claire","Elizabeth","Mary","Susan","Waje",
        "Charles","Jude","James","Kelvin","Biodun","Wale","Kunle","Matthew","Tom",
        "Kayode")

ages = (17,18,17,18,16,18, 17, 20,19, 17,19,16,18, 17, 20, 29, 19, 18, 17, 19)

height = (5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5, 5.7, 5.9, 5.8,
         6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7)

scores = (80,85, 70, 60, 76, 66, 87, 95, 50, 49, 74, 87, 75, 68, 66, 78, 87, 98, 54, 60)

print("NAME | AGE | HEIGHT | SCORE")
for name in names:
    print(name, "\n")

NameError: name 'NAME' is not defined