In [6]:
#project 1
names = ("Samantha", "Jada","Jane","Claire","Elizabeth","Mary","Susan","Waje",
        "Charles","Jude","James","Kelvin","Biodun","Wale","Kunle","Matthew","Tom",
        "Kayode")

ages = (17,18,17,18,16,18, 17, 20,19, 17,19,16,18, 17, 20, 29, 19, 18, 17, 19)

heights = (5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5, 5.7, 5.9, 5.8,
         6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7)

scores = (80,85, 70, 60, 76, 66, 87, 95, 50, 49, 74, 87, 75, 68, 66, 78, 87, 98, 54, 60)

print("    NAME   |     AGE     | HEIGHT | SCORE")
print()
for name in names:
    for age in ages:
        for heght in heights:
            for score in scores:
                print(name,"    " , age,"         " ,height,"         ", score)
                print("\n")

    NAME   |     AGE     | HEIGHT | SCORE

NameError: name 'height' is not defined

In [16]:
#PROJECT 2
years = int(input("How many years of experience do you have?"))
age = int(input("Enter your age:"))

print()
if years >= 25 and age >= 55 :
            print("Your annual tax revenue is  NN5,600,000")
elif years >= 20 and age >= 45:
            print("Your ATR IS n4,480,000")
elif years >= 10 and age >= 35:
            print("Your ATR is N1,500,000")
elif years < 10 and age < 35:
            print("Your ATR is 550,000")
else:
            print("Invalid")

How many years of experience do you have?69
Enter your age:49

Your ATR IS n4,480,000